<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/careerstyle.css">


    <div class="topnav" id="myTopnav">

        <a href="/api/v1/logout">Logout</a>

        <a href="/api/v1/profile">Profile</a>

        <div class="dropdown">
            <button class="dropbtn">Social Tabs
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/api/v1/socialtab/mentalhealth">Mental Health</a>
                <a href="/api/v1/socialtab/lqbtq">LGBTQ+</a>
            </div>
        </div>

        <a href="/api/v1/roadmap">Roadmap</a>

        <a href="/api/v1/career">Career</a>

        <a href="/api/v1/home" class="active">Home</a>

        <a href="/api/v1/home" id="sep">STUDENT EMPOWERMENT PORTAL</a>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
    <script src="Career.js"></script>

</head>

<body>

    <section class="main-body">
        <h1>
            CAREER OPTIONS AFTER GRADUATION
        </h1>

        <div>
            <a href="/api/v1/career/mtech">
                <div class="card">
                    <h1>M.E/Mtech</h1>
                    <p>Guidelines To Do Mtech in India.</p>
                </div>
            </a>
            <a href="/api/v1/career/gre">
                <div class="card">
                    <h1>M.S-G.R.E</h1>
                    <p>Guidelines To Do M.S from foreign. </p>
                </div>
            </a>
            <a href="/api/v1/career/mba">
                <div class="card">
                    <h1>M.B.A</h1>
                    <p>Guidelines To Do M.B.A from India. </p>
                </div>
            </a>
        </div>

        </a>
        </div>
    </section>
    <section class="footer">
        <div>
            <h1>Trademark</h1>
        </div>
    </section>
</body>

</html>