<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/homepage.css">

  <script src="/javascript/homepage.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <style>
    .mySlides {
      display: none;
    }
  </style>

</head>

<body>

  <div class="topnav" id="myTopnav">

    <a href="/api/v1/logout">Logout</a>

    <a href="/api/v1/profile">Profile</a>

    <div class="dropdown">
      <button class="dropbtn">Social Tabs
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/api/v1/socialtab/mentalhealth">Mental Health</a>
        <a href="/api/v1/socialtab/lqbtq">LGBTQ+</a>
      </div>
    </div>

    <a href="/api/v1/roadmap">Roadmap</a>

    <a href="/api/v1/career">Career</a>

    <a href="/api/v1/home" class="active">Home</a>

    <a href="/api/v1/home" id="sep">STUDENT EMPOWERMENT PORTAL</a>

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
  </div>



  <!-- Hero Unit -->
  <section class="hero-unit">

    <div class="row">
      <div class="large-12 columns">
        <hgroup>
          <h1>STUDENT EMPOWERMENT PORTAL</h1>
          <h3>Education is the most powerful weapon which you can use to change the world</h3>
        </hgroup>


        <ul class="small-block-grid-2 medium-block-grid-3 flip-cards">

          <li ontouchstart="this.classList.toggle('hover');">
            <div class="large button card-front">
              <a href="#">What do you mean by empowerment?</a>
              <i class="fa fa-code card-icon "></i>
            </div>
            <div class="panel card-back">
              <i class="fa fa-code card-icon"></i>
              <div class="hub-info">
                <a href="#"></a>
                <p>Empowerment means people having power and control over their own lives. </p>
              </div>
              <small class="clear">SEP</small>
            </div>
          </li>

          <li ontouchstart="this.classList.toggle('hover');">
            <div class="large button card-front">
              <a href="http://www.aaronsnowberger.com">What is the aim of empowerment?</a>
              <i class="fa fa-pencil-square-o card-icon"></i>
            </div>

            <div class="panel card-back">
              <i class="fa fa-pencil-square-o card-icon"></i>
              <div class="hub-info">
                <a href="http://www.aaronsnowberger.com"></a>
                <p>The goal of empowerment is to provide information and permission for employees to address problems
                  and move forward towards achieving company goals.</p>
              </div>
              <small class="clear">SEP</small>
            </div>
          </li>

          <li ontouchstart="this.classList.toggle('hover');">
            <div class="large button card-front">
              <a href="">How to empower yourself?</a>
              <i class="fa fa-paper-plane-o card-icon"></i>
            </div>

            <div class="panel card-back">
              <i class="fa fa-paper-plane-o card-icon"></i>
              <div class="hub-info">
                <a href=""></a>
                <p>Self-empowerment means making a conscious decision to take charge of your destiny. It involves making
                  positive choices, taking action to advance, and being confident in your ability to make and execute
                  decisions.</p>
              </div>
              <small class="clear">SEP</small>
            </div>
          </li>

          <li ontouchstart="this.classList.toggle('hover');">
            <div class="large button card-front">
              <a href="">Why is empowering students important?</a>
              <i class="fa fa-map-o card-icon"></i>
            </div>

            <div class="panel card-back">
              <i class="fa fa-map-o card-icon"></i>
              <div class="hub-info">
                <a href=""></a>
                <p>Students come to build their self-confidence, sense of self-efficacy, ability to solve problems,
                  research information, and com- municate that information and their interest in and ability to engage
                  with issues occurring around them.</p>
              </div>
              <small class="clear">SEP</small>
            </div>
          </li>

          <li ontouchstart="this.classList.toggle('hover');">
            <div class="large button card-front">
              <a href="http://www.keytokorean.com">Why is empowerment so important?</a>
              <i class="fa fa-language card-icon"></i>
            </div>

            <div class="panel card-back">
              <i class="fa fa-language card-icon"></i>
              <div class="hub-info">
                <a href="http://www.keytokorean.com"></a>
                <p>Empowerment is key to having full motivation in a workplace.It allows us to give employees more
                  responsibility and power which can create value for your business and the employee</p>
              </div>
              <small class="clear">SEP</small>
            </div>
          </li>

          <li ontouchstart="this.classList.toggle('hover');">
            <div class="large button card-front">
              <a href="http://www.aicfchurch.org">What does empowerment mean in education?</a>
              <i class="fa fa-users card-icon"></i>
            </div>

            <div class="panel card-back">
              <i class="fa fa-users card-icon"></i>
              <div class="hub-info">
                <a href="http://www.aicfchurch.org"></a>
                <p>Empowerment is the “process by which individuals and groups gain power, access to resources and
                  control over their own lives</p>
              </div>
              <small class="clear">SEP</small>
            </div>
          </li>

        </ul>
      </div>

      <div class="large-12 columns">
        <div class="small-12 small-centered medium-6 medium-centered large-3 large-centered columns clients">
          <a href="#">
            <h6 class="text-center"></h6>
            <p class="text-center">
              <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-angle-right fa-inverse fa-stack-1x"></i>
              </span>
            </p>
          </a>
        </div>
        <!-- end .clients -->
      </div>

    </div>
  </section>

</body>

</html>