<!DOCTYPE html>
<html>

<head>
  <link href="/css/roadmap.css" rel="stylesheet">
  <div class="topnav" id="myTopnav">

    <a href="/api/v1/logout">Logout</a>

    <a href="/api/v1/profile">Profile</a>

    <div class="dropdown">
      <button class="dropbtn">Social Tabs
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/api/v1/socialtab/mentalhealth">Mental Health</a>
        <a href="/api/v1/socialtab/lqbtq">LGBTQ+</a>
      </div>
    </div>

    <a href="/api/v1/roadmap">Roadmap</a>

    <a href="/api/v1/career">career</a>

    <a href="/api/v1/home" class="active">Home</a>

    <a href="/api/v1/home" id="sep">STUDENT EMPOWERMENT PORTAL</a>

    <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
  </div>
  <script src="/javascript/roadmap.js"></script>
</head>

<body>
  <img src="/uploads/mainimg1.jpeg" alt="Italian Trulli" width="100%">

</body>

</html>